@media screen and (max-width: 917px) {
  .features-icon {
    row-gap: 1.8rem;
    column-gap: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .feature-flex {
    width: 45%;
  }
}
