.container {
    width: 100vw;
    height: 100vh;
  }
  
  .flex-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .full-width {
    width: 100% !important;
  }
  
  .login_section {
    background: white;
    box-shadow: 1px 1px 20px 2px gray;
    border-radius: 0.2rem;
    animation: rotate 1.7s ease-in-out;
  }
  
  .login-height {
    height: 650px;
    width: 1200px;
  }
  
  .signup_section {
    height: 690px;
    width: 1200px;
  }
  
  @keyframes rotate {
    to {
      opacity: 1;
      transform: rotateY(0deg);
    }
    from {
      opacity: 0;
      transform: rotateY(180deg);
    }
  }
  
  .login-layout {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .login-layout > div {
    width: 50%;
  }
  
  .bg-image {
    background-image: url("../../assets/Login.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .login-form-position {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    width: 350px;
    height: 449px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .web-logo
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .size
  {
    padding: 0px !important;
  }
  
  .login-form p {
    font-weight: 700;
    color: #828282;
    font-family: "Open Sans", sans-serif;
  }
  
  .login-form h3 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .form-style {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .form-style > div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .form-style button {
    background: #d90429;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 0px 12px 0px red;
    cursor: pointer;
  }
  
  .forgot {
    display: flex;
    align-items: flex-end;
  }
  
  .input-field {
    height: 50px;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 1px 1px 16px 3px gray;
    cursor: pointer;
  }

  .error
  {
    box-shadow: 1px 1px 10px 3px red;
    animation: blink 0.3s 1 linear;
  }


    @keyframes blink {
			0% { transform: translate(30px); }
			20% { transform: translate(-30px); }
			40% { transform: translate(15px); }
			60% { transform: translate(-15px); }
			80% { transform: translate(8px); }
			100% { transform: translate(0px); }
		}
  
  .form-style input[type="text"],
  .form-style input[type="password"],
  .form-style input[type="date"] {
    border: none;
    height: 100%;
    width: 92%;
    border-radius: 1rem;
    background: transparent;
    padding: 1rem;
    box-sizing: border-box;
    color: red;
    font-size: 20px;
    outline: none;
  }
  
  .form-style label {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  
  .link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: red;
  }

  /* loader css */
  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  